
<div class='bossOverlay'>
  <div class="actorArt">
  <img src="{{actorImg}}"> 
  </div>
  <div class='colorBand'>
    <div class='colorFirst'>
          <h2>
          {{actorName}}
          </h2>
    </div>
    <div class='colorSecond'></div>
    <div class='colorThird'></div>
  </div>
</div>